*{
    margin: 0;
}
.main-nav{
    background-color: #701e7d;
    width: 100%;
    height: 100px;
    display: flex;
}
.nav-gaping{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.nav-left{
    /* background-color: red; */
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1{
    width: 400px;
    /* height: 150px; */
}
.nav-center{
    /* background-color: yellow; */
    width: 50%;
    height: 100px;
}
.option-list-1{
    width: 100%;
    height: 100px;
}
.ul-list-1{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 1.5rem;
}
.href-option{
    text-decoration: none;
    color: white;
}
.href-option:hover{
    color: orange;
    transition: all 0.2s ease-in-out;
}
.nav-right{
    /* background-color: blue; */
    width: 25%;
    height: 100px;
}
.button-box-1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.btn-1{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    gap: 20px;
    cursor: pointer;
}
.btn-1:hover{
    background-color: orange;
    /* color: orange; */
    transition: all 0.1s ease-in-out;
}
.btn-2{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    gap: 20px;
}

.btn-2:hover{
    background-color: orange;
    transition: all 0.1 ease-in-out;
}

.href-option-1{
    text-decoration: none;
}

.header{
    background-color:  #701e7d;
    width: 100%;
    height: 50px;
    display: none;
}
.header-nav{
    width: 100%;
    height: 50px;
}
.ul-list-2{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-weight: 700;
    list-style: none;
    font-size: 1.5rem;
}

.href-option-2{
    text-decoration: none;
    color: white;
}

.main-container{
    width: 100%;
    height: fit-content;
}
.image-box-2{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-2{
    width: 100%;
    height: 600px;
}
.img-2-1{
    width: 100%;
    height: 600px;
    display: none;
}
.img-2-0{
    width: 100%;
    height: 600px;
    display: none;
}
.img-logo-3{
    width: 150px;
    height: 150px;
    position: absolute;
    display: none;
}

.card-box-1{
    /* background-color: yellowgreen; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.heading-1{
    /* background-color: red; */
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #701e7d;
}

.card-list-1{
    background-color: transparent;
    width: 20%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.373);  */
    cursor: pointer;
}

.image-box-3{
    /* background-color: aqua; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.heading-2{
    /* background-color: brown; */
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    text-align: center;
    color: #701e7d;
}
.para-1{
    /* background: red; */
    width: 100%;
    height: 100px;
    text-align: center;
    color: rgba(112, 108, 108, 0.582);
}
.img-4{
    box-shadow: black 2px 2px 10px;
}
.box-shadow-1{
    box-shadow: black 2px 2px 10px;
}
.href-option-3{
    text-decoration: none;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clr-heading{
    color: #701e7d;
}

.ways-details{
    background-color: #701e7d;
    width: 100%;
    height: 500px;
}

.heading-3{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-icon-1{
    /* background-color: red; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.icon-box-1{
    width: 15%;
    height: 300px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.heading-4{
    color: white;
    cursor: pointer;
}
.icon{
    cursor: pointer;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: none;
    box-shadow: black 2px 2px 10px;
    border-radius: 50%;
    color: white;
}

.icon:hover{
    background-color:orange;
}

.para-2{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
}

.awards-details{
    /* background-color: aqua; */
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heading-5{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #701e7d;
}

.top-company{
    /* background-color: blue; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button-box-2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-3{
    background-color: #701e7d;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 0.89rem;
    font-weight: 700;
}

.service-desk{
    /* background-color: red; */
    width: 100%;
    height: 300px;
}

.heading-6{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #701e7d;
}

.service-box-1{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}

.gaping-box-1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.personal-info{
    width: 100%;
    height: 100px;
    background-color: #701e7d;
}

.info-box-1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.box{
    display: flex;
    font-size: 1.6rem;
    gap: 30px;
    color: white;
}

.href-option-4:hover{
    color: orange;
    transition: all 0.2s ease-in-out;
}

.href-option-4{
    color: white;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.main-footer{
    width: 100%;
    height: 250px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.end-section{
    /* background-color: red; */
    width: 20%;
    height: 150px;
    margin-top: 10px;
}

.li-blder{
    font-weight: bold;
}

.ul-list-3{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.href-option-5{
    color: rgba(112, 108, 108, 0.691);
    text-decoration: none;
}

.href-option-5:hover{
    color: orange;
    transition: all 0.2s ease-in-out;
}

.copy-right{
    background-color: #701e7d;
    width: 100%;
    height: 50px;
}

.para-4{
    width: 100%;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (max-width:609px) {
    .ul-list-2{
        font-size: 1.2rem;
        margin-right: 10px;
    }
    .header{
        display: block;
    }

}
@media (max-width:470px) {
    .ul-list-2{
        font-size: 0.89rem;
        font-weight: 600;
        margin-right: 10px;
    }
    .heading-1{
        /* background-color: red; */
        width: 100%;
        height:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
    }
    .img-logo-3{
        display: block;
    }
    .header{
        display: block;
    }
    .img-2{
        width: 100%;
        height: 600px;
        display: none;
    }
    .img-2-1{
        display: block;
    }
}

@media (max-width:375px) {
    .ul-list-2{
        font-size: 0.89rem;
        font-weight: 600;
        justify-content: space-around;
        gap: 10px;
        margin-right: 10px;
    }
    .header{
        display: block;
    }
    .img-logo-3{
        display: block;
    }
    .img-2{
        width: 100%;
        height: 600px;
        display: none;
    }
    .img-2-1{
        display: block;
    }
}

@media (max-width:1260px) {
    .main-nav{
    background-color:  #701e7d;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.main-footer{
    height: 320px;
    flex-wrap: wrap;
}
.end-section{
    width: 30%;
}
.icon-box-1{
    width: 20%;
}
.ways-details{
    height: 700px;
}
.card-box-1{
    height: 825px;
}
.card-list-1{
    width: 35%;
}
.header{
    display: none;
}
.nav-left{
    /* background-color: red; */
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1{
    width: 300px;
    /* height: 150px; */
}
.nav-center{
    /* background-color: yellow; */
    width: 50%;
    height: 100px;
}
.option-list-1{
    width: 100%;
    height: 100px;
}
.ul-list-1{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 1.2rem;
}
.href-option{
    text-decoration: none;
    color: white;
}
.nav-right{
    /* background-color: blue; */
    width: 25%;
    height: 100px;
}
.button-box-1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: red; */
}
.btn-1{

    width: 130px;
    height: 50px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.889rem;
    font-weight: 700;
    gap: 15px;
}
.btn-2{
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.89rem;
    font-weight: 600;
    gap: 15px;
}
.href-option-1{
    text-decoration: none;
}
}

@media (max-width:750px) {
    .card-list-1{
        width: 50%;
    }
}

@media (max-width:1024px) {
    .main-nav{
    background-color:  #701e7d;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.nav-gaping{
    justify-content: center;
}
.header{
    display: none;
}
.nav-left{
    /* background-color: red; */
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1{
    width: 300px;
    /* height: 150px; */
}
.nav-center{
    /* background-color: yellow; */
    width: 50%;
    height: 100px;
}
.option-list-1{
    width: 100%;
    height: 100px;
}
.ul-list-1{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 1.2rem;
}
.href-option{
    text-decoration: none;
    color: white;
}
.nav-right{
    /* background-color: blue; */
    width: 25%;
    height: 100px;
}
.button-box-1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
}
.btn-1{

    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.80rem;
    font-weight: 700;
    gap: 10px;
}
.btn-2{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.80rem;
    font-weight: 600;
    gap: 10px;
}
.href-option-1{
    text-decoration: none;
}
}

@media (max-width:920px) {
    .main-nav{
        background-color:  #701e7d;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid rgba(32, 31, 31, 0.308);
    }
    .personal-info{
        height: 300px;
    }
    .info-box-1{
        flex-direction: column;
        height: 300px;
    }
    .service-desk{
        height: 700px;
    }
    .service-box-1{
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    .awards-details{
        height: 700px;
        gap: 0;
    }
    .top-company{
        flex-direction: column;
        /* background-color: red; */
        height: 600px;
    }
    .header{
        display: block;
    }
    .icon-box-1{
        width: 30%;
    }
    .ways-details{
        height: 700px;
    }
    .nav-gaping{
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-evenly;
    }
    .nav-left{
        /* background-color: red; */
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-box-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-1{
        width: 300px;
        /* height: 150px; */
    }
    .nav-center{
        /* background-color: yellow; */
        width: 50%;
        height: 100px;
        display: none;
    }
    .option-list-1{
        width: 100%;
        height: 100px;
    }
    .ul-list-1{
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        align-items: center;
        gap: 30px;
        font-weight: 700;
        font-size: 1.2rem;
    }
    .href-option{
        text-decoration: none;
        color: white;
    }
    .nav-right{
        /* background-color: blue; */
        width: 25%;
        height: 100px;
    }
    .button-box-1{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* background-color: red; */
    }
    .btn-1{
    
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.80rem;
        font-weight: 700;
        gap: 10px;
    }
    .btn-2{
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.80rem;
        font-weight: 600;
        gap: 10px;
    }
    .href-option-1{
        text-decoration: none;
    }
    .img-2-0{
        display: block;
    }
    .img-2{
        display: none;
    }
}
@media (max-width:815px) {
    .main-footer{
        height: 400px;
    }
    .end-section{
        width: 50%;
    }
}
@media (max-width:532px) {
    .ul-list-2{
        font-size: 1rem;
        margin-right: 10px;
    }
    .main-footer{
        height: 700px;
    }
    .end-section{
        width: 80%;
    }
    .header{
        display: block;
    }
    .img-2{
        width: 100%;
        height: 600px;
        display: none;
    }
    .img-2-0{
        display: none;
    }
    .img-2-1{
        display: block;
    }
    .img-logo-3{
        display: block;
    }
}

@media (max-width:550px) {
    .nav-right{
        display: none;
    }
    .para-4{
        font-size: 1rem;
        text-align: center;
    }
    .header{
        display: block;
    }
    .btn-3{
        width: 40%;
    }
    .icon-box-1{
        width: 50%;
    }
    .ways-details{
        height: 1950px;
    }
    .card-list-1{
        width: 60%;
    }
    .card-box-1{
        height: 1640px;
    }
}

@media (max-width:449px) {
    .ul-list-2{
        font-size: 0.89rem;
        font-weight: 600;
        gap: 30px;
        margin-right: 10px;
    }
    .card-list-1{
        width: 80%;
    }
    .img-logo-3{
        display: block;
    }
    .header{
        display: block;
    }
    .img-2{
        width: 100%;
        height: 600px;
        display: none;
    }
    .img-2-1{
        display: block;
    }
}

